html {
  box-sizing: border-box;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.site-nav {
  position: fixed;
  /*top = 0;*/
  left = 0;
  bottom = 0;
  width: 4.5rem;
  /*height: 100%*/
  background-color: blue;
  color: hotpink;
  text-align: center;
}

.site-nav-list {
  list-style-type: none;
  padding: 0;
}

.site-nav-item {
  height: 4.35rem;
}
